{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<script type="text/javascript">
  var submitted = false;
</script>
{%
  set location = element.redirect_to['#value']
%}
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{ location }}';}"></iframe>
<form{{ attributes }}>
  {{ children }}
</form>
